# Demo Individual

This notebook is for demonstrating usage of the Individual class.

In [1]:
from comma.individual import Individual
from comma.hypothesis import Hypothesis

import pandas as pd
import os

dir = '../parameters/'

In [2]:
# generate one agent based on parameters in the parameter files
# and get features of the agent
a = Individual.populate_ipf(3, dir)
a[0].get_features()

Populating individuals: 100%|████████████████████| 3/3 [00:00<00:00, 3963.12i/s]

baseline                              1
age_group__1                          0
age_group__2                          0
age_group__3                          1
age_group__4                          0
gender_f                              0
gender_m                              1
education_high                        1
education_low                         0
education_medium                      0
unemployed_no                         0
unemployed_yes                        1
have_partner_no                       1
have_partner_yes                      0
depressed_no                          1
depressed_yes                         0
children_presence_no                  1
children_presence_yes                 0
housing_financial_difficulties_no     0
housing_financial_difficulties_yes    1
selfrated_health_average              1
selfrated_health_good                 0
selfrated_health_poor                 0
critical_job_no                       0
critical_job_yes                      1
Name: 0, dtype: int64

In [3]:
# check their status
a[0].get_status()

0.0

In [4]:
# get possible action list
a[0].actions

['work_from_home',
 'maintain_physical_distance',
 'stay_at_home',
 'exercise',
 'socialise',
 'travel',
 'seek_help',
 'negative_coping',
 'positive_coping',
 'socialise_online']

In [6]:
# read in hypotheses regarding the lockdown 
lockdown_matrices = Hypothesis.read_hypotheses(
            dir,
            set(['easy'])
        )

In [11]:
lockdown_matrices['easy'].head()

,baseline,age_group__1,age_group__2,age_group__3,age_group__4,gender_f,gender_m,education_high,education_low,education_medium,...,depressed_yes,children_presence_no,children_presence_yes,housing_financial_difficulties_no,housing_financial_difficulties_yes,selfrated_health_average,selfrated_health_good,selfrated_health_poor,critical_job_no,critical_job_yes
0,-0.19,0.04,-0.29,0.18,-0.12,-0.26,0.07,1.42,-0.84,-0.77,...,-1.09,-0.14,-0.05,-0.25,0.06,-0.16,-0.02,-0.01,0.97,-1.16
1,2.71,0.15,1.45,0.21,0.90,3.21,-0.50,0.65,-0.51,2.57,...,-0.71,2.58,0.13,3.01,-0.30,2.69,0.48,-0.46,2.53,0.18
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.30,-0.57,1.16,-0.37,0.08,0.27,0.03,0.15,-0.20,0.35,...,-0.59,0.36,-0.06,0.40,-0.10,0.44,0.33,-0.47,0.37,-0.07
4,1.83,-0.65,2.14,-0.19,0.53,1.93,-0.10,0.41,0.16,1.26,...,-0.18,1.67,0.16,1.91,-0.08,2.28,0.07,-0.52,1.73,0.10

In [7]:
# read in the ones regarding the actions
actions_effects = Hypothesis.read_actions(dir)
actions_effects.head(2)

,baseline,age_group__1,age_group__2,age_group__3,age_group__4,gender_f,gender_m,education_high,education_low,education_medium,...,depressed_yes,children_presence_no,children_presence_yes,housing_financial_difficulties_no,housing_financial_difficulties_yes,selfrated_health_average,selfrated_health_good,selfrated_health_poor,critical_job_no,critical_job_yes
0,0.001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-0.001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# choose action based on an imput lockdown policy
# return a boolean list of taking a specific action or not
# and a list of probability of taking a specific action
actions, probs = a[0].choose_actions_on_lockdown(lockdown_matrices['easy'])
pd.DataFrame({
    "actions": actions, 
    "probs": probs
})

   actions     probs
0     True  0.629483
1     True  0.999998
2     True  0.500000
3     True  0.913726
4     True  0.999937
5    False  0.000800
6     True  0.962312
7     True  0.999606
8    False  0.442752
9    False  0.500000

In [14]:
# take the actions
a[0].take_actions(actions, actions_effects)

In [15]:
# see how the status of the agent has changed
a[0]._status

0.001