# Demo Individual

This notebook is for demonstrating usage of the Individual class.

In [1]:
from comma.individual import Individual
from comma.hypothesis import Hypothesis

import pandas as pd
import os

dir = '../parameters/'

In [4]:
# generate one agent based on parameters in the parameter files
# and get features of the agent
a = Individual.populate_ipf(5, dir)

Populating individuals: 100%|████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 7565.48i/s]

In [5]:
a[1].get_features()

baseline                                  1
age_group__1                              0
age_group__2                              0
age_group__3                              1
age_group__4                              0
gender_f                                  1
gender_m                                  0
education_high                            1
education_low                             0
education_medium                          0
education_unknown                         0
unemployed_no                             1
unemployed_yes                            0
have_partner_no                           0
have_partner_yes                          1
have_partner_unknown                      0
depressed_no                              1
depressed_yes                             0
depressed_unknown                         0
children_presence_no                      1
children_presence_yes                     0
children_presence_unknown                 0
housing_financial_difficulties_no         1
housing_financial_difficulties_yes        0
housing_financial_difficulties_unknown    0
selfrated_health_average                  1
selfrated_health_good                     0
selfrated_health_poor                     0
selfrated_health_unknown                  0
critical_job_no                           1
critical_job_yes                          0
critical_job_unknown                      0
bmi_underweight                           0
bmi_normalweight                          1
bmi_overweight                            0
bmi_obese                                 0
bmi_unknown                               0
livesalone_no                             1
livesalone_yes                            0
livesalone_unknown                        0
income_median_above                       1
income_median_below                       0
income_median_unknown                     0
Name: 1, dtype: int64

In [6]:
# check their status
a[0].get_status()

0.0

In [7]:
# get possible action list
a[0].actions

['work_from_home',
 'maintain_social_distance',
 'exercise',
 'feel_socially_connected',
 'seek_help_from_friends',
 'heavy_drinking',
 'positive_coping',
 'feel_isolated',
 'be_sedentary']

In [8]:
# read in hypotheses regarding the lockdown 
start = '2021-03-02'
steps = 2

hypothesis = Hypothesis(start, steps)


lockdown_matrices = hypothesis.read_hypotheses(
    dir,
    set(['easy']),
    'lockdown'
)

In [9]:
lockdown_matrices['easy'].head()

,baseline,age_group__1,age_group__2,age_group__3,age_group__4,gender_f,gender_m,education_high,education_low,education_medium,...,bmi_normalweight,bmi_overweight,bmi_obese,bmi_unknown,livesalone_no,livesalone_yes,livesalone_unknown,income_median_above,income_median_below,income_median_unknown
0,-0.39,0.29,0.25,0.0,0.04,0.0,-0.07,1.35,-0.86,0.0,...,0.0,-0.01,-0.18,-0.14,0.0,0.15,0.0,0.31,0.0,0.030
1,2.98,-0.21,0.00,0.0,0.36,0.0,-0.36,0.54,-0.53,0.0,...,0.0,0.26,-0.26,0.00,0.0,-0.43,0.0,0.09,0.0,-0.027
2,0.38,-0.43,-0.13,0.0,0.13,0.0,-0.02,0.16,-0.21,0.0,...,0.0,-0.16,-0.49,0.00,0.0,0.00,0.0,0.09,0.0,-0.090
3,2.19,-0.52,-0.23,0.0,0.47,0.0,-0.22,0.14,0.07,0.0,...,0.0,-0.13,-0.17,0.00,0.0,-0.30,0.0,0.10,0.0,-0.015
4,0.59,0.39,0.21,0.0,0.06,0.0,-0.22,-0.03,0.18,0.0,...,0.0,-0.07,-0.06,0.00,0.0,-0.06,0.0,0.01,0.0,0.040

In [24]:
# read in the ones regarding the actions
actions_effects = hypothesis.read_hypotheses(
    dir,
    set(['easy']),
    'actions'
)

In [11]:
# read in the ones regarding the actions
probabilities_lockdown = hypothesis.read_hypotheses(
    dir,
    set(['easy']),
    'lockdown'
)

In [25]:
actions_effects['easy']

,baseline,age_group__1,age_group__2,age_group__3,age_group__4,gender_f,gender_m,education_high,education_low,education_medium,...,bmi_normalweight,bmi_overweight,bmi_obese,bmi_unknown,livesalone_no,livesalone_yes,livesalone_unknown,income_median_above,income_median_below,income_median_unknown
0,-0.50,0.0,-0.07,-0.27,-1.10,0.0,-0.09,-1.04,0.0,-0.39,...,-0.72,-0.69,-0.05,0.0,0.0,0.55,0.68,-0.76,0.0,-0.08
1,-0.09,0.0,-0.08,-0.41,-0.73,0.0,-0.24,-0.28,0.0,-0.07,...,-0.72,-0.74,-0.10,0.0,0.0,0.62,0.58,-0.93,0.0,-0.24
2,-0.72,0.0,0.11,-0.68,-0.50,0.0,-0.37,-0.18,0.0,0.16,...,-0.12,-0.24,0.13,0.0,0.0,0.84,0.38,-0.60,0.0,0.42
3,-1.50,0.0,0.04,-0.42,-0.48,0.0,-0.30,-0.53,0.0,-0.30,...,0.11,0.11,0.79,0.0,0.0,0.57,0.66,-0.58,0.0,-0.18
4,-0.61,0.0,-0.16,-0.83,-0.73,0.0,-0.21,-0.75,0.0,-0.08,...,-0.39,-0.44,0.33,0.0,0.0,0.69,0.72,-0.96,0.0,-0.22
5,0.27,0.0,-0.37,-0.62,-0.53,0.0,-0.53,-0.08,0.0,0.16,...,-0.39,-0.40,0.30,0.0,0.0,0.32,0.35,-1.82,0.0,0.20
6,-0.96,0.0,0.44,-0.10,0.27,0.0,-0.43,-0.53,0.0,-0.55,...,-0.75,-0.78,0.00,0.0,0.0,0.11,0.00,-1.44,0.0,-0.81
7,1.73,0.0,-0.25,-0.23,-0.94,0.0,-0.01,-0.21,0.0,0.16,...,-0.88,-0.91,0.00,0.0,0.0,0.70,0.70,0.80,0.0,-0.32
8,0.71,0.0,-0.57,-0.35,-0.71,0.0,-0.19,0.59,0.0,0.45,...,-0.40,-0.54,0.44,0.0,0.0,0.42,-0.28,-0.28,0.0,0.49

In [26]:
probabilities_lockdown['easy']

,baseline,age_group__1,age_group__2,age_group__3,age_group__4,gender_f,gender_m,education_high,education_low,education_medium,...,bmi_normalweight,bmi_overweight,bmi_obese,bmi_unknown,livesalone_no,livesalone_yes,livesalone_unknown,income_median_above,income_median_below,income_median_unknown
0,-0.39,0.29,0.25,0.0,0.04,0.0,-0.07,1.35,-0.86,0.0,...,0.0,-0.01,-0.18,-0.14,0.0,0.15,0.0,0.31,0.0,0.030
1,2.98,-0.21,0.00,0.0,0.36,0.0,-0.36,0.54,-0.53,0.0,...,0.0,0.26,-0.26,0.00,0.0,-0.43,0.0,0.09,0.0,-0.027
2,0.38,-0.43,-0.13,0.0,0.13,0.0,-0.02,0.16,-0.21,0.0,...,0.0,-0.16,-0.49,0.00,0.0,0.00,0.0,0.09,0.0,-0.090
3,2.19,-0.52,-0.23,0.0,0.47,0.0,-0.22,0.14,0.07,0.0,...,0.0,-0.13,-0.17,0.00,0.0,-0.30,0.0,0.10,0.0,-0.015
4,0.59,0.39,0.21,0.0,0.06,0.0,-0.22,-0.03,0.18,0.0,...,0.0,-0.07,-0.06,0.00,0.0,-0.06,0.0,0.01,0.0,0.040
5,-0.90,-0.36,-0.02,0.0,0.20,0.0,-0.44,0.00,0.20,0.0,...,0.0,-0.03,-0.23,0.00,0.0,0.13,0.0,-0.02,0.0,-0.016
6,-0.02,0.22,0.29,0.0,-0.09,0.0,-0.16,0.25,-0.08,0.0,...,0.0,-0.10,-0.22,0.00,0.0,0.12,0.0,0.01,0.0,-0.011
7,-0.28,0.44,0.10,0.0,-0.02,0.0,-0.23,-0.03,0.14,0.0,...,0.0,0.06,0.11,0.00,0.0,0.04,0.0,0.16,0.0,0.016
8,-0.91,0.33,0.29,0.0,-0.26,0.0,0.05,0.38,-0.24,0.0,...,0.0,0.38,0.34,0.00,0.0,0.16,0.0,0.22,0.0,0.040

In [27]:
n_actions, _ = probabilities_lockdown['easy'].shape
action_probs = probabilities_lockdown['easy'].dot(a[0].get_features())

In [28]:
action_probs

0   -0.980
1    3.503
2    0.150
3    2.615
4    0.680
5   -0.806
6    0.169
7   -0.144
8   -1.060
dtype: float64

In [32]:
# choose action based on an imput lockdown policy
# return a boolean list of taking a specific action or not
# and a list of probability of taking a specific action
a[0].choose_actions_on_lockdown(lockdown_matrices['easy'])
pd.DataFrame({
    "actions": a[0].chosen_actions
})

   actions
0    False
1     True
2     True
3     True
4    False
5    False
6     True
7    False
8    False

In [36]:
# take the actions
a[0].take_actions(actions_effects['easy'])

In [37]:
# see which actions have been taken:
a[0].get_actions()

['maintain_social_distance',
 'exercise',
 'feel_socially_connected',
 'seek_help_from_friends',
 'positive_coping',
 'feel_isolated']

In [38]:
# see how the status of the agent has changed
a[0]._status

-11.1

In [ ]:
lockdown_.loc[lockdown_["actions"] == "be_sedentary", "baseline"]

In [64]:
probabilities_lockdown['easy']

,baseline,age_group__1,age_group__2,age_group__3,age_group__4,gender_f,gender_m,education_high,education_low,education_medium,...,bmi_normalweight,bmi_overweight,bmi_obese,bmi_unknown,livesalone_no,livesalone_yes,livesalone_unknown,income_median_above,income_median_below,income_median_unknown
0,-0.39,0.29,0.25,0.0,0.04,0.0,-0.07,1.35,-0.86,0.0,...,0.0,-0.01,-0.18,-0.14,0.0,0.15,0.0,0.31,0.0,0.030
1,2.98,-0.21,0.00,0.0,0.36,0.0,-0.36,0.54,-0.53,0.0,...,0.0,0.26,-0.26,0.00,0.0,-0.43,0.0,0.09,0.0,-0.027
2,0.38,-0.43,-0.13,0.0,0.13,0.0,-0.02,0.16,-0.21,0.0,...,0.0,-0.16,-0.49,0.00,0.0,0.00,0.0,0.09,0.0,-0.090
3,2.19,-0.52,-0.23,0.0,0.47,0.0,-0.22,0.14,0.07,0.0,...,0.0,-0.13,-0.17,0.00,0.0,-0.30,0.0,0.10,0.0,-0.015
4,0.59,0.39,0.21,0.0,0.06,0.0,-0.22,-0.03,0.18,0.0,...,0.0,-0.07,-0.06,0.00,0.0,-0.06,0.0,0.01,0.0,0.040
5,-0.90,-0.36,-0.02,0.0,0.20,0.0,-0.44,0.00,0.20,0.0,...,0.0,-0.03,-0.23,0.00,0.0,0.13,0.0,-0.02,0.0,-0.016
6,-0.02,0.22,0.29,0.0,-0.09,0.0,-0.16,0.25,-0.08,0.0,...,0.0,-0.10,-0.22,0.00,0.0,0.12,0.0,0.01,0.0,-0.011
7,-0.28,0.44,0.10,0.0,-0.02,0.0,-0.23,-0.03,0.14,0.0,...,0.0,0.06,0.11,0.00,0.0,0.04,0.0,0.16,0.0,0.016
8,5.00,0.33,0.29,0.0,-0.26,0.0,0.05,0.38,-0.24,0.0,...,0.0,0.38,0.34,0.00,0.0,0.16,0.0,0.22,0.0,0.040

In [66]:
["easy"]*4 + ["hard"]*4

['easy', 'easy', 'easy', 'easy', 'hard', 'hard', 'hard', 'hard']

In [62]:
probabilities_lockdown['easy'].iat[8, probabilities_lockdown['easy'].columns.get_loc("baseline")] = 5

In [63]:
a[0].modify_policy_when_infected(probabilities_lockdown['easy'])

,baseline,age_group__1,age_group__2,age_group__3,age_group__4,gender_f,gender_m,education_high,education_low,education_medium,...,bmi_normalweight,bmi_overweight,bmi_obese,bmi_unknown,livesalone_no,livesalone_yes,livesalone_unknown,income_median_above,income_median_below,income_median_unknown
0,-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,-5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0